<h1>Courses</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div>
 <% @courses.each do |post| %>
 <h2> <%= courses.title %> </h2>
 <p> <%= courses.body %> </p>
 <p> <b> Courses <%= courses.body %> </b> </p>
 <% end %>
 </div>
